@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 232, 237, 223;
    --color-text-muted: 172, 172, 172;
    --color-text-inverted: 36, 36, 35;
    --color-fill: 17, 24, 39;
    --color-fill-muted: 30,41,59;
    --color-primary: 5, 150, 105;
    --color-primary-hover: 5,135,96;
    --color-primary-light: 16,185,129;
    /* --color-button-muted: 99, 102, 241; */
  }
  .theme-light {
    --color-text-base: 36, 36, 35;
    --color-text-muted: 172, 172, 172;
    --color-text-inverted: 232, 237, 223;
    --color-fill: 232, 237, 223;
    --color-fill-muted: 209,213,219;
    --color-primary: 5, 150, 105;
    --color-primary-hover: 5,135,96;
    --color-primary-light: 16,185,129;
    /* --color-button-muted: 239, 68, 68; */
  }
}

@layer components {
    .button-cta {
        @apply bg-skin-primary rounded-md text-skin-fill px-4 py-2 tracking-wide hover:bg-skin-primaryhover
    }
    .centered {
        @apply flex items-center justify-center
    }
    .container-body {
        @apply min-h-[calc(100vh-4rem)] p-4 box-border
    }
    .input-text-auth {
        @apply my-2 box-border w-full bg-skin-fillmuted p-2 rounded text-sm
    }
}

.max-w-70 {
    width: max(70%, 400px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
